<div class="parentDiv">
    <div id="formdata">
        <h5 class="font-weight-bold">Reset your password</h5>
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
<style>
      #loader {
        display: none;
    }
    li{
      color: grey;
      font-size: 0.875rem;
      list-style: none;
    }
    .errorlist{
      border: 1px solid rgba(212, 25, 25, 0.4);
      border-radius: 10px;
      padding: 10px;
      animation: error2;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      margin-bottom: 10px;
    }
    .errorlist li{
      color: rgb(212, 25, 25);
      list-style: none;
      animation: error;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
    @keyframes error{
      0%{color: 212, 25, 25;}
      50%{color: red;}
      100%{color: 212, 25, 25;}
    }
    @keyframes error2{
      0%{border: 1px solid rgba(212, 25, 25, 0.4);}
      50%{border: 1px solid rgba(255, 0, 0);}
      100%{border: 1px solid rgba(212, 25, 25, 0.4);}
    }
    .parentDiv{
      height: 100vh;
    }
    #formdata{
      width: 35%;
      margin: auto;
      padding: 40px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid rgb(209, 209, 209);
      border-radius: 10px;
    }
    input[type="submit"]{
      background-color: blue;
      color: white;
      min-width: 100%;
      display: block;
      align-items: center;
      border-radius: 5px;
      border: none;
      padding: 5px;

      display: block;
      min-width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    input[type="password"]{
      display: block;
      min-width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @media only screen and (max-width: 768px) {
      #formdata{
        width: 95%;
        margin: auto;
        padding: 40px 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
      }
    }
</style>

<script>
  document.getElementById("id_new_password1").setAttribute("placeholder","password");
  document.getElementById("id_new_password2").setAttribute("placeholder","password confirmation")
</script>