<div class="parentDiv">
    <div id="formdata">
        <h1>Password set</h1>
        <p>Your password has been set. You can <a href="{% url 'homepage' %}">log in now</a></p>
    </div>
</div>
<style>
      #loader {
        display: none;
    }
    .parentDiv{
      height: 100vh;
    }
    #formdata{
      width: 35%;
      margin: auto;
      padding: 40px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid rgb(209, 209, 209);
      border-radius: 10px;
    }
    @media only screen and (max-width: 768px) {
      #formdata{
        width: 95%;
        margin: auto;
        padding: 40px 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
      }
    }
</style>