<div class="parentDiv">
  <div id="formdata">
    <h5 class="font-weight-bold">Check your inbox.</h5>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
</div>
<style>
      #loader {
        display: none;
    }
    .parentDiv{
      height: 100vh;
    }
    #formdata{
      width: 35%;
      margin: auto;
      padding: 40px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid rgb(209, 209, 209);
      border-radius: 10px;

    }
    #formdata h1{
      font-size: 30px;
    }
    @media only screen and (max-width: 768px) {
      #formdata{
        width: 95%;
        margin: auto;
        padding: 40px 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
      }
    }
</style>