<div id="pchange">
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change my password" /></p>
    </form>
</div>

<style>
    #pchange{
        width: 50%;
        margin: 3% auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    }
    #pchange label{
        width: 100%;
    }
    #pchange input{
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    #pchange .errorlist{
        list-style: none;
        background-color: white;
        color: red;
        padding: 5px;
        border-radius: 5px;
    }
    #pchange ul{
        padding: 0;
        margin: 0;
    }
    #pchange ul li{
        list-style: none;
        color: grey;
        font-size: 0.9rem;
    }
    #pchange input[type="submit"]{
        background: blue;
        border-radius: 5px;
        padding: 5px;
        color: white;
        border: none;
    }
    #loader {
        display: none;
    }
    @media only screen and (max-width: 600px) {
            #pchange{
            width: 100%;
            margin: 3% auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
        }
    }
</style>